name: Sample Build

on:
  push:
    branches: [ main ]
    paths:
      - 'samples/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'samples/**'

jobs:
  build-samples:
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest  

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        lfs: true

    # Install the .NET Core workload
    - name: Install .NET Core 3.1.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x

    - name: Install .NET 5.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    # The workaround from https://github.com/actions/setup-dotnet/issues/155#issuecomment-748452076
    - name: Clean
      run: msbuild LoginApp.sln /t:clean /maxcpucount /p:NoPackageAnalysis=true /verbosity:minimal /p:Configuration=$env:Configuration && dotnet nuget locals all --clear

    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore/Build the sample
      run: msbuild LoginApp.sln /t:restore,build /maxcpucount /p:NoPackageAnalysis=true /verbosity:minimal /p:Configuration=$env:Configuration
      working-directory: samples
      env:
        Configuration: ${{ matrix.configuration }}
